// GET - #398AB9, POST - #95CD41, PUT - #FBD148, DELETE - #FF2626
.api-title {
  text-align: center;
}
.modal-box {
  text-align: center;
}
.modal {
  // display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  // overflow: scroll;
  background: rgba(0, 0, 0, 0.5);
}
.close-button {
  font-size: 30px;
  cursor: pointer;
  float: right;
  color: #ccc;
}
.close-button:hover,
:focus {
  color: #000;
  text-decoration: none;
}
.modal-dialog {
  overflow-y: initial !important;
}
.modal-content {
  position: absolute;
  background-color: #f4f4f4;
  height: 90%;
  //   margin: calc(100vh - 40%) auto;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  padding: 2em;
  width: 50%;
  overflow-y: auto;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  // animation-name: modalopen;
  // animation-duration: 0.5s;
}

@media (max-width: 480px) {
  .modal-content {
    width: 90%;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .modal-content {
    width: 80%;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .modal-content {
    width: 70%;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .modal-content {
    width: 60%;
  }
}
