@mixin navbar-button($color) {
  // background-color: #142683;
  background-color: $color;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.7em 1em;
  cursor: pointer;
}
.error {
  color: red;
}
.success {
  color: green;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .loading-message {
    font-size: 2rem;
    font-weight: bolder;
    color: #142683;
    margin-bottom: 2%;
  }
  // text-align: center;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #142683;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page-loader {
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background-color: white;
  z-index: 99;
}
