// $color: blue;

// .container {
//   width: 100%;
//   height: 20%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: $color;
//   background-color: aqua;
// }

.apis {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
