$padding: 3% 5%;

.api-card {
  border: 1px solid grey;
  width: 5%;

  box-shadow: 5px 10px #888888;
  // margin-left: 1%;
  // margin-bottom: 4%;
  margin: 1%;
  //   margin-bottom: 2%;
  img {
    width: 100%;
    // object-fit: contain;
    // height: 200px;
  }
}

.api-title {
  font-weight: bold;
  font-size: larger;
  padding: $padding;
}
.api-desc {
  padding: $padding;
}

@media (max-width: 480px) {
  .api-card {
    width: 80%;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .api-card {
    width: 60%;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .api-card {
    width: 40%;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .api-card {
    width: 25%;
  }
}
